{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 text-center">
    <img src="../static/images/about.jpg" alt="about us" id="aboutimg">
</div>
<div class="container mt-5 text-center text-white">
<div class="float">
    <span></span><p><h1>ABOUT US</h1></p><span></span>
</div>
<div class="float mt-4">
    <p><h4> I'm a paragraph. Click here to add your own text and edit me. 
    I’m a great place for you to tell a story and let your users know 
    a little more about you.</h4></p>
</div>
</div>



{% endblock %}

