<!-- <link rel="stylesheet" href="css/lightbox.css"> -->
<!-- <div class="container mt-5">
<div class="popup-gallery">
	<a href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75"></a>
	<a href="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" title="Winter Dance"><img src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_s.jpg" width="75" height="75"></a>
	<a href="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" title="The Uninvited Guest"><img src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_s.jpg" width="75" height="75"></a>
	<a href="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" title="Oh no, not again!"><img src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_s.jpg" width="75" height="75"></a>
	<a href="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_b.jpg" title="Swan Lake"><img src="http://farm9.staticflickr.com/8235/8559402846_8b7f82e05d_s.jpg" width="75" height="75"></a>
	<a href="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_b.jpg" title="The Shake"><img src="http://farm9.staticflickr.com/8235/8558295467_e89e95e05a_s.jpg" width="75" height="75"></a>
	<a href="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_b.jpg" title="Who's that, mommy?"><img src="http://farm9.staticflickr.com/8378/8559402848_9fcd90d20b_s.jpg" width="75" height="75"></a>
</div>
</div>
<script src="js/lightbox.js"></script> -->
<script src="../static/scripts/jquery-3.3.1.js"></script>
<script>
// $(document).ready(function () {




//     $('#buttonGetJSON').click(function () {
//         //練習使用getJSON()
//         //1. 呼叫apiln.json
//         //2. 讀出回傳JSON格式中的景點圖片(Image)
//         //3. 將景點圖片顯示在show的div中

//         var docFragment = $(document.createDocumentFragment());
//         $.getJSON('datas/apiIn.json', {}, function (datas) {
//             $.each(datas, function (idx, park) {
//                 var title = park.ParkName + "-" + park.Name;
//                 var img = $("<img />").attr('src', park.Image).addClass('col-md-4 img-responsive img-thumbnail');
//                 var a = $("<a></a>").attr({ 'href': park.Image, 'data-lightbox': 'park', 'data-title': title }).append(img);
//                 docFragment.append(a);
//             });
//             $('#show').append(docFragment);
//         })

//     })
// });
    </script>